<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Doctrine XML Mapping Generator</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
    <style>
        body {
            background-color: #F2F2F2;
        }
        textarea, input[type="text"] {
            margin: 0.1em;
            border: 1px #38a89d solid;
            display: block;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        label {
            display: inline-block;
            margin-bottom: 0.5rem;
        }

        hr {
            color: #38a89d;
            background-color: transparent;
            height: 2px;
        }
    </style>
</head>
<body>
<nav class="flex items-center justify-between flex-wrap bg-teal-dark p-6">
    <div class="flex items-center flex-no-shrink text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">Doctrine XML Mapping Generator</span>
    </div>
</nav>
<div class="container mx-auto my-10">
    <div id="application">
        <div class="shadow-md py-10 px-10">
            <class-data></class-data>
            <hr/>
            <generator-data></generator-data>
            <hr/>
            <field-data></field-data>
            <hr />
            <one-to-many></one-to-many>
            <!-- Generate XML-->
            <button type="button"
                    class="w-full max-w-auto btn bg-teal-dark hover:bg-teal-darker text-white font-bold py-2 px-4 rounded text-center"
                    @click="generateXML"
            >Generate
            </button>
        </div>
        <div class="w-full max-w-auto">
            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/4 px-5 py-4 mb-4 md:mb-0 text-center">
                    <a href="https://github.com/Gasjki/DoctrineXMLMappingGenerator" class="text-teal-dark"
                       style="text-decoration: none">
                        <i class="fab fa-github fa-3x"></i><br/> Follow me
                    </a>
                </div>
                <div class="w-full md:w-1/4 px-5 py-4 mb-4 md:mb-0 text-center">
                    <a href="https://github.com/Gasjki/DoctrineXMLMappingGenerator/wiki/How-To" class="text-teal-dark"
                       style="text-decoration: none">
                        <i class="far fa-life-ring fa-3x"></i><br/> Need help?
                    </a>
                </div>
                <div class="w-full md:w-1/4 px-5 py-4 mb-4 md:mb-0 text-center">
                    <a href="https://github.com/Gasjki/DoctrineXMLMappingGenerator/issues" class="text-teal-dark"
                       style="text-decoration: none">
                        <i class="fas fa-bug fa-3x"></i><br/> Found a bug?
                    </a>
                </div>
                <div class="w-full md:w-1/4 px-5 py-4 mb-4 md:mb-0 text-center">
                    <a href="https://github.com/Gasjki/DoctrineXMLMappingGenerator/issues" class="text-teal-dark"
                       style="text-decoration: none">
                        <i class="fas fa-pencil-alt fa-3x"></i><br/> Any suggestion?
                    </a>
                </div>
            </div>
        </div>
        <div class="shadow-md py-10 px-10 my-10" v-show="hasResult">
            <div class="w-full max-w-auto">
                <pre v-highlightjs="result"><code class="html"></code></pre>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="./assets/highlight.pack.js" type="text/javascript"></script>
<script>
    // Vue highlighting
    Vue.directive('highlightjs', {
        deep: true,
        bind: function(el, binding) {
            // on first bind, highlight all targets
            let targets = el.querySelectorAll('code')
            targets.forEach((target) => {
                // if a value is directly assigned to the directive, use this
                // instead of the element content.
                if (binding.value) {
                    target.textContent = binding.value
                }
                hljs.highlightBlock(target)
            })
        },
        componentUpdated: function(el, binding) {
            // after an update, re-fill the content and then highlight
            let targets = el.querySelectorAll('code')
            targets.forEach((target) => {
                if (binding.value) {
                    target.textContent = binding.value
                    hljs.highlightBlock(target)
                }
            })
        }
    })

    // Class data information.
    Vue.component('class-data', {
        template: `
                <div>
                    <h2 class="mb-4">Entity information</h2>
                    <div class="w-full max-w-auto">
                        <div class="mb-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2" for="className">
                                Class path*
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-dark leading-tight focus:outline-none focus:shadow-outline"
                                id="className"
                                type="text"
                                placeholder="e.g.: App\\Entity\\Category"
                                v-model="className"
                                required
                            />
                        </div>
                        <div class="mb-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2" for="classTableName">
                                Table name
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-dark leading-tight focus:outline-none focus:shadow-outline"
                                id="classTableName"
                                type="text"
                                placeholder="e.g.: categories"
                                v-model="classTableName"
                            />
                        </div>
                        <div class="mb-4">
                            <label class="block text-grey-darker text-sm font-bold mb-2" for="classRepository">
                                Repository path
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-dark leading-tight focus:outline-none focus:shadow-outline"
                                id="classRepository"
                                type="text"
                                placeholder="e.g.: App\\Repository\\CategoryRepository"
                                v-model="classRepository"
                            />
                        </div>
                    </div>
                </div>
            `,
        data: function () {
            return {
                className: '',
                classTableName: '',
                classRepository: '',
            }

        }
    });

    // Generator data information.
    Vue.component('generator-data', {
        template: `
            <div>
                <h2 class="mb-4">Generator (Primary key)</h2>
                <div class="w-full max-w-auto">
                    <div class="flex flex-wrap -mx-3 mb-2">
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="fieldName">
                                Field name*
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="fieldName"
                                type="text"
                                placeholder="e.g.: id"
                                v-model="fieldName"
                                required
                            />
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="fieldColumnName">
                                Field column name
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="fieldName"
                                type="text"
                                placeholder="e.g.: id"
                                v-model="fieldColumnName"
                            />
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="fieldType">
                                Field type*
                            </label>
                            <div class="relative">
                                <select
                                    class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                                    id="fieldType"
                                    v-model="fieldType"
                                    @change="showExtraFields"
                                >
                                    <option v-for="type in types" :value="type.value">{{ type.label }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" v-show="showSequenceFields">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="fieldSequenceName">
                                Sequence name*
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="fieldSequenceName"
                                type="text"
                                placeholder="e.g.: id_seq"
                                v-model="fieldSequenceName"
                            />
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" v-show="showUuidFields">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="fieldUuid">
                                Generator class*
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="fieldUuid"
                                type="text"
                                placeholder="e.g.: App\\Uuid\\Doctrine\\UuidGenerator"
                                v-model="fieldUuid"
                            />
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-2" v-show="showSequenceFields">
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="initialSequenceValue">
                                Initial value*
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="initialSequenceValue"
                                type="text"
                                placeholder="e.g.: 1"
                                v-model="initialSequenceValue"
                            />
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="allocationSize">
                                Allocation size
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="allocationSize"
                                type="text"
                                placeholder="e.g.: 10"
                                v-model="allocationSize"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        `,
        data: function () {
            return {
                fieldName: 'id',
                fieldColumnName: 'id',
                types: [
                    {value: 'AUTO', label: 'AUTOINCREMENT'},
                    {value: 'SEQUENCE', label: 'SEQUENCE'},
                    {value: 'UUID', label: 'UUID'}
                ],
                fieldType: 'AUTO',
                fieldSequenceName: '',
                initialSequenceValue: 1,
                allocationSize: 10,
                showSequenceFields: false,
                fieldUuid: '',
                showUuidFields: false
            }
        },
        methods: {
            showExtraFields() {
                this.showSequenceFields = this.fieldType === 'SEQUENCE';
                this.showUuidFields = this.fieldType === 'UUID';
            }
        }
    });

    // Field data information.
    Vue.component('field-data', {
        template: `
            <div>
                <h2 class="mb-4">Properties</h2>
                <div class="w-full mx-auto mb-6" v-show="showGeneralButtons">
                    <div class="w-full items-center mx-auto mb-6">
                        <button type="button" class="btn bg-teal-dark hover:bg-teal-darker rounded px-2 py-2 text-white" @click="addRow(0)">
                            Add field
                        </button>
                    </div>
                </div>
                <div v-for="(field, index) in fields">
                    <div class="w-full max-w-auto">
                        <div class="flex flex-wrap -mx-3 mb-2">
                            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                                <label class="block text-grey-darker text-xs font-bold mb-2" for="field.fieldName">
                                    Field name*
                                </label>
                                <input
                                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                    id="field.fieldName"
                                    type="text"
                                    placeholder="e.g.: fullName"
                                    v-model="field.fieldName"
                                    required
                                />
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="field.fieldType">
                                Field type
                            </label>
                            <div class="relative">
                                <select
                                    class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                                    id="field.fieldType"
                                    v-model="field.fieldType"
                                    @change="updateFieldVisibility(index)"
                                    required
                                >
                                    <option v-for="type in types" :value="type.value">{{ type.label }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="field.fieldColumnName">
                                Column name
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="field.fieldColumnName"
                                type="text"
                                placeholder="e.g.: full_name"
                                v-model="field.fieldColumnName"
                            />
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="field.fieldNullable">
                                Can be null?
                            </label>
                            <div class="relative">
                                <select
                                    class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                                    id="field.fieldNullable"
                                    v-model="field.fieldNullable"
                                    @change="updateUniqueField(index)"
                                >
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-2">
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" v-show="field.showLength">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="field.fieldLength">
                                Length
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="field.fieldLength"
                                type="text"
                                placeholder="e.g.: 255"
                                v-model="field.fieldLength"
                            />
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" v-show="field.showScaleAndPrecision">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="field.fieldPrecision">
                                Precision
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="field.fieldPrecision"
                                type="text"
                                placeholder="e.g.: 5"
                                v-model="field.fieldPrecision"
                            />
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" v-show="field.showScaleAndPrecision">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="field.fieldScale">
                                Scale
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="field.fieldScale"
                                type="text"
                                placeholder="e.g.: 2"
                                v-model="field.fieldScale"
                            />
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" v-show="field.showDefaultValueField">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="field.fieldDefaultValue">
                                Default value
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="field.fieldDefaultValue"
                                type="text"
                                placeholder="e.g.: John Doe"
                                v-model="field.fieldDefaultValue"
                            />
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" v-show="field.showUniqueField" @change="updateDefaultValueField(index)">
                            <label class="block text-grey-darker text-xs font-bold mb-2" for="field.fieldUnique">
                                Is unique?
                            </label>
                            <div class="relative">
                                <select
                                    class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                                    id="field.fieldUnique"
                                    v-model="field.fieldUnique"
                                >
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 mt-6">
                            <button type="button" class="btn bg-teal-dark hover:bg-teal-darker rounded px-2 py-2 text-white" @click="addRow(index)">
                                Add field
                            </button>
                            <button type="button" class="btn bg-red-dark hover:bg-red-darker rounded px-2 py-2 text-white" @click="removeRow(index)">
                                Remove field
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        `,
        data: function () {
            return {
                fields: [],
                types: [
                    {value: 'string', label: 'string (default)'},
                    {value: 'integer', label: 'integer'},
                    {value: 'smallint', label: 'smallint'},
                    {value: 'bigint', label: 'bigint'},
                    {value: 'decimal', label: 'decimal'},
                    {value: 'float', label: 'float'},
                    {value: 'text', label: 'text'},
                    {value: 'guid', label: 'guid'},
                    {value: 'binary', label: 'binary'},
                    {value: 'blob', label: 'BLOB'},
                    {value: 'date', label: 'date'},
                    {value: 'date_immutable', label: 'date immutable'},
                    {value: 'datetime', label: 'datetime'},
                    {value: 'datetimetz', label: 'datetimetz'},
                    {value: 'datetimetz_immutable', label: 'datetimetz immutable'},
                    {value: 'time', label: 'time'},
                    {value: 'time_immutable', label: 'time immutable'},
                    {value: 'dateinterval', label: 'date interval'},
                    {value: 'array', label: 'array'},
                    {value: 'simple_array', label: 'simple array'},
                    {value: 'json', label: 'json'},
                    {value: 'json_array', label: 'json array'},
                    {value: 'object', label: 'object'},
                ],
            }
        },
        methods: {
            updateFieldVisibility: function (index) {
                let fieldTypes = [];
                this.types.forEach(function (type) {
                    fieldTypes.push(type.value);
                });

                let row = this.fields[index];

                if (fieldTypes.includes(row.fieldType)) {
                    switch (row.fieldType) {
                        case 'string':
                        case 'text':
                        case 'guid':
                            row.showLength = true;
                            row.showScaleAndPrecision = false;
                            break;
                        case 'decimal':
                        case 'float':
                            row.showScaleAndPrecision = true;
                            row.showLength = false;
                            break;
                        default:
                            row.showLength = false;
                            row.showScaleAndPrecision = false;
                            break;
                    }
                } else {
                    this.fieldType = 'string';
                    this.updateFieldVisibility();
                }
            },
            updateUniqueField: function (index) {
                this.fields[index].showUniqueField = this.fields[index].fieldNullable !== '1';
            },
            updateDefaultValueField: function (index) {
                this.fields[index].showDefaultValueField = this.fields[index].fieldUnique !== '1';
            },
            addRow: function (index) {
                try {
                    this.fields.splice(index + 1, 0, {
                        fieldType: 'string',
                        fieldUnique: '0',
                        fieldNullable: '0',
                        showLength: true,
                        showScaleAndPrecision: false,
                        showUniqueField: true,
                        showDefaultValueField: true
                    });
                } catch (e) {
                    alert('Error! Please let us know you encountered a problem! Post a new issue on our Github!');
                    console.log(e);
                }
            },
            removeRow: function (index) {
                this.fields.splice(index, 1);
            }
        },
        computed: {
            showGeneralButtons: function () {
                return this.fields.length === 0;
            }
        }
    });

    // One-To-Many information
    Vue.component('one-to-many', {
        template: `
            <div>
                <h2 class="mb-4">One-To-Many</h2>
                <div class="w-full mx-auto mb-6" v-show="showGeneralAddRelation">
                    <div class="w-full items-center mx-auto mb-6">
                        <button type="button" class="btn bg-teal-dark hover:bg-teal-darker rounded px-2 py-2 text-white" @click="addRelation(0)">
                            Add relation
                        </button>
                    </div>
                </div>
                <div v-for="(field, index) in fields">
                    <div class="w-full max-w-auto">
                        <div class="flex flex-wrap -mx-3 mb-2">
                            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                                <label class="block text-grey-darker text-xs font-bold mb-2" for="field.fieldName">
                                    Field name*
                                </label>
                                <input
                                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                    id="field.fieldName"
                                    type="text"
                                    placeholder="e.g.: product"
                                    v-model="field.fieldName"
                                    required
                                />
                            </div>
                            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                                <label class="block text-grey-darker text-xs font-bold mb-2" for="field.targetEntity">
                                    Target entity*
                                </label>
                                <input
                                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                    id="field.targetEntity"
                                    type="text"
                                    placeholder="e.g.: App\\Entity\\Product"
                                    v-model="field.targetEntity"
                                    required
                                />
                            </div>
                            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                                <label class="block text-grey-darker text-xs font-bold mb-2" for="field.mappedBy">
                                    Mapped by*
                                </label>
                                <input
                                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                    id="field.mappedBy"
                                    type="text"
                                    placeholder="e.g.: category"
                                    v-model="field.mappedBy"
                                    required
                                />
                            </div>
                            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                                <label class="block text-grey-darker text-xs font-bold mb-2" for="field.fetchType">
                                    Fetch type
                                </label>
                                <div class="relative">
                                    <select
                                        class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                                        id="field.fetchType"
                                        v-model="field.fetchType"
                                        required
                                    >
                                        <option value="LAZY">LAZY (default)</option>
                                        <option value="EAGER">EAGER</option>
                                        <option value="EXTRA_LAZY">EXTRA LAZY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-2">
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 float-right">
                            <button type="button" class="btn bg-teal-dark hover:bg-teal-darker rounded px-2 py-2 text-white" @click="addRelation(index)">
                                Add relation
                            </button>
                            <button type="button" class="btn bg-red-dark hover:bg-red-darker rounded px-2 py-2 text-white" @click="removeRelation(index)">
                                Remove relation
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        `,
        data: function() {
            return {
                fields: []
            }
        },
        methods: {
            addRelation: function (index) {
                try {
                    this.fields.splice(index + 1, 0, {
                        fieldName: '',
                        targetEntity: '',
                        mappedBy: '',
                        fetchType: 'LAZY'
                    });
                } catch (e) {
                    alert('Error! Please let us know you encountered a problem! Post a new issue on our Github!');
                    console.log(e);
                }
            },
            removeRelation: function (index) {
                this.fields.splice(index, 1);
            }
        },
        computed: {
            showGeneralAddRelation: function () {
                return this.fields.length === 0;
            }
        }
    });

    let app = new Vue({
        el: '#application',
        data: {
            classData: '',
            result: '',
            hasResult: false
        },
        types: [
            'string',
            'integer',
            'smallint',
            'bigint',
            'decimal',
            'float',
            'text',
            'guid',
            'binary',
            'blob',
            'date',
            'date_immutable',
            'datetime',
            'datetimetz',
            'datetimetz_immutable',
            'time',
            'time_immutable',
            'dateinterval',
            'array',
            'simple_array',
            'json',
            'json_array',
            'object'
        ],
        methods: {
            generateXML() {
                // Header
                this.result = `<?xml version="1.0" encoding="UTF-8" ?>
<doctrine-mapping xmlns="http://doctrine-project.org/schemas/orm/doctrine-mapping"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://doctrine-project.org/schemas/orm/doctrine-mapping
                  http://doctrine-project.org/schemas/orm/doctrine-mapping.xsd">
                    `;

                let currentLength = this.result.length;
                // Class data information.
                this.result += this.classDataHandler(this.$children);

                if (this.result.length > currentLength) {

                    // Close XML
                    this.result += `
</doctrine-mapping>`;
                    this.hasResult = true;
                } else {
                    this.result = '';
                    this.hasResult = false;
                }

            },
            classDataHandler(data) {
                let classData = data[0];
                let result = '';

                if (classData.className.trim().length > 0) {
                    result = `
<entity name="` + classData.className + `"`;

                    if (classData.classTableName.trim().length > 0) {
                        result += ' table="' + classData.classTableName + '"';
                    }

                    if (classData.classRepository.trim().length > 0) {
                        result += ' repository-class="' + classData.classRepository + '"';
                    }

                    result += '>';
                    let stringLength = result.length;

                    result += this.classGeneratorHandler(data);
                    result += this.classFieldDataHandler(data);

                    // Change closing sign.
                    if (result.length === stringLength) {
                        result = result.slice(0, stringLength - 1);
                        result += ` />`;
                    } else {
                        result += `
</entity>
                    `;
                    }
                }

                return result;
            },
            classGeneratorHandler(data) {
                data = data[1];
                let result = '';

                if (data.fieldName.trim().length > 0) {
                    switch (data.fieldType) {
                        case 'AUTO':
                            result += `
    <id name="` + data.fieldName + `" type="integer"`;
                            if (data.fieldColumnName.trim().length > 0) {
                                result += ' column="' + data.fieldColumnName + '">';
                            }

                            result += `
        <generator strategy="AUTO" />
    </id>`;
                            break;
                        case 'SEQUENCE':
                            result += `
    <id name="` + data.fieldName + `" type="integer"`;
                            if (data.fieldColumnName.trim().length > 0) {
                                result += ' column="' + data.fieldColumnName + '">';
                            }

                            result += `
        <generator strategy="SEQUENCE" />`;

                            if (data.fieldSequenceName.trim().length > 0) {
                                result += `
        <sequence-generator sequence-name="` + data.fieldSequenceName.trim() + `"`;

                                let value = parseInt(data.allocationSize);

                                if (value < 0 || isNaN(value)) {
                                    value = 10;
                                }

                                result += ' allocation-size="' + value + '"';

                                value = parseInt(data.initialSequenceValue);

                                if (value < 0 || isNaN(value)) {
                                    value = 1;
                                }

                                result += ' initial-value="' + value + '" />';
                            }
                            result += `
    </id>`;
                            break;
                        case 'UUID':
                            result += `
    <id name="` + data.fieldName + `" type="uuid"`;
                            if (data.fieldColumnName.trim().length > 0) {
                                result += ' column="' + data.fieldColumnName + '">';
                            }

                            result += `
        <generator strategy="CUSTOM" />`;

                            if (data.fieldUuid.trim().length > 0) {
                                result += `
        <custom-id-generator class="` + data.fieldUuid.trim() + `"/>`;
                            }

                            result += `
    </id>`;
                            break;
                        default:
                            //
                            break;
                    }
                }

                return result;
            },
            classFieldDataHandler(data) {
                data = data[2];
                let result = '';

                data.fields.forEach(function (field) {
                    if (field.fieldName != null) {
                        // Check if we have at least one field to avoid bad formatting.
                        if (result.length === 0) {
                            result = `
    `;
                        }

                        if (field.fieldName.trim().length > 0) {
                            result += '<field name="' + field.fieldName.trim() + '"';

                            if (field.hasOwnProperty('fieldType') && field.fieldType.trim().length > 0) {
                                result += ' type="' + field.fieldType + '"';
                            } else {
                                result += ' type="string"';
                            }

                            if (field.hasOwnProperty('fieldColumnName') && field.fieldColumnName.trim().length > 0) {
                                result += ' column="' + field.fieldColumnName.trim() + '"';
                            }

                            if (field.hasOwnProperty('fieldLength') && field.fieldType === 'string') {
                                let value = Math.abs(parseInt(field.fieldLength));

                                if (value > 0) {
                                    result += ' length="' + value + '"';
                                }
                            }

                            if (field.hasOwnProperty('fieldPrecision') && field.fieldType in ['decimal', 'float']) {
                                result += ' precision="' + Math.abs(parseInt(field.fieldPrecision)) + '"';
                            }

                            if (field.hasOwnProperty('fieldScale') && field.fieldType in ['decimal', 'float']) {
                                result += ' scale="' + Math.abs(parseInt(field.fieldScale)) + '"';
                            }

                            let fieldNull = false;
                            if (field.hasOwnProperty('fieldNullable')) {
                                fieldNull = field.fieldNullable != 0;
                                if (fieldNull) {
                                    result += ' nullable="' + fieldNull + '"';
                                }
                            }

                            let fieldIsUnique = false;
                            if (field.hasOwnProperty('fieldUnique')) {
                                let value = field.fieldUnique != 0;
                                if (!fieldNull && value) {
                                    result += ' unique="' + value + '"';
                                    fieldIsUnique = true;
                                }
                            }

                            if (field.hasOwnProperty('fieldDefaultValue') && field.fieldDefaultValue.trim().length > 0 && !fieldIsUnique) {
                                result += `>
        <options>
            <option name="default">` + field.fieldDefaultValue + `</option>
        </options>
    </field>`;
                            } else {
                                result += ' />';
                            }
                        }
                    }
                });

                return result;
            }
        }
    });
</script>
</body>
</html>